---
// src/components/icons/skills/HtmlIcon.astro
export interface Props {
  className?: string;
}
const { className = 'w-full h-full' } = Astro.props;
---
<svg class={className} role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Vercel</title><path d="m12 1.608 12 20.784H0Z"/></svg>